@page "/todos"
@attribute [Authorize]
@inject HttpClient Client
@inject INotificationService NotificationService
@inject NavigationManager NavigationManager

<style>
    .task-text-field-class {
        width: 300px;
    }
</style>

<h1>Todo Web App</h1>
<AlertDialog @ref="dialog" />
<CreateTaskForm @ref="createTaskForm" />

<Loading IsLoading="isLoading" />

<br/>
<div class="row">
    <div class="col-md-6">
        <MatButton Raised="true" Icon="playlist_add" OnClick="@(e => NewTask())">New Task</MatButton>
    </div>
</div>
<br/>
<Filter FilterAsync="GetTasksAsync" IsLoading="isLoading" ViewModel="filterViewModel" />
<br />

@if(!isLoading)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>State</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in todoList)
            {
            <tr>
                <td style="color:@(item.DuplicateTitle ? "red" : "")">@item.Title</td>
                <td>@item.DueDate</td>
                <td><MatButton Icon="done" Outlined="true" @onclick="@(e => CompleteItem(item.Id))">@item.State</MatButton></td>
                <td><MatButton Icon="edit" Outlined="true" @onclick="@(e => EditItem(item.Id))">Edit</MatButton></td>
                <td><MatButton Icon="delete" Outlined="true" @onclick="@(e => DeleteItem(item.Id))">Delete</MatButton></td>
            </tr>
            }
        </tbody>
    </table>

    @if(totalResults == 0)
    {
        <div class="alert alert-secondary" role="alert">
          No results exists!
        </div>
    }
}
<div>
    <MatPaginator Length="@totalResults" PageSize="@filterViewModel.Size" Page="NavigateAsync" />
</div>

@code {
    int totalResults;
    FilterQueryViewModel filterViewModel = new();
    private List<TableItemViewModel> todoList = new List<TableItemViewModel>();

    bool isLoading;

    AlertDialog? dialog;
    CreateTaskForm? createTaskForm;

    protected override Task OnInitializedAsync()
    {
        SubscribeToNotifications();
        filterViewModel = new FilterQueryViewModel(NavigationManager);
        return GetTasksAsync();
    }

    void SubscribeToNotifications()
    {
        NotificationService.TaskCreated += TaskCreatedHandler;
        NotificationService.TaskUpdated += TaskUpdatedHandler;
        NotificationService.TaskDeleted += TaskDeletedHandler;
    }

    Task NavigateAsync(MatPaginatorPageEvent e)
    {
        filterViewModel.Page = e.PageIndex + 1;
        filterViewModel.Size = e.PageSize;
        return GetTasksAsync();
    }

    async Task GetTasksAsync()
    {
        try
        {
            var query = filterViewModel.GetFilterModelAsQueryString();
            isLoading = true;
            StateHasChanged();
            var response = await Client.GetAsync<FilterResult>($"api/todo-tasks{query}");

            if (!response.IsSuccess)
            {
                dialog?.ShowError(response);
                return;
            }

            var result = response.GetResult();
            totalResults = result.Total;
            todoList = result.Tasks
                .Select(t => new TableItemViewModel(t))
                .ToList();
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    void NewTask()
    {
        createTaskForm?.Open();
    }

    void TaskCreatedHandler(object? sender, TodoTaskOutput output)
    {
        todoList.Add(new TableItemViewModel(output));
        StateHasChanged();
    }

    void TaskUpdatedHandler(object? sender, TodoTaskOutput output)
    {
        var item = todoList.Find(i => i.Id == output.Id);
        item?.Update(output);
        StateHasChanged();
    }

    void TaskDeletedHandler(object? sender, TodoTaskOutput output)
    {
        todoList.RemoveAll(i => i.Id == output.Id);
        StateHasChanged();
    }

    void DeleteItem(string? id)
    {
        var myTodo = todoList.First(x => x.Id == id);
        todoList.Remove(myTodo);
    }

    void CompleteItem(string? id)
    {
        var myTodo = todoList.First(x => x.Id == id);
    }

    void EditItem(string? id)
    {
        var myTodo = todoList.FirstOrDefault(x => x.Id == id);
    }
}