@page "/todos"
@inject IMatToaster Toaster

<style>
    .task-text-field-class {
        width: 300px;
    }
</style>

<h1>Todo Web App</h1>

<EditForm Model="@_viewModel" OnValidSubmit="@SubmitFormAsync">
    <FluentValidationValidator />

    <div class="row">
        <div class="col-md-6">
            <MatTextField @bind-Value="@_viewModel.Title" Outlined="true" Label="Title"></MatTextField>
        </div>
        <div class="col-md-6">
            <MatDatePicker Outlined="true" Format="yyyy-MM-dd" Label="Due Date" @bind-Value="@_viewModel.DueDate"></MatDatePicker>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <MatStringField InputClass="task-text-field-class" TextArea="true" Outlined="true" @bind-Value="@_viewModel.Note" Label="Note"></MatStringField>
        </div>
        <div class="col-md-6">
            <MatButton Raised="true" Icon="playlist_add" type="submit">Create Task</MatButton>
        </div>
    </div>
</EditForm>

@if (todoList != null && todoList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in todoList)
            {
            <tr>
                <td style="color:@(item.DuplicateTitle ? "red" : "")">@item.Title</td>
                <td>@item.DueDate</td>
                <td><MatButton Icon="done" Outlined="true" @onclick="@(e => CompleteItem(item.Id))">Complete</MatButton></td>
                <td><MatButton Icon="edit" Outlined="true" @onclick="@(e => EditItem(item.Id))">Edit</MatButton></td>
                <td><MatButton Icon="delete" Outlined="true" @onclick="@(e => DeleteItem(item.Id))">Delete</MatButton></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TableItemViewModel> todoList = new List<TableItemViewModel>();
    private CreateViewModel _viewModel = new();

    async Task SubmitFormAsync()
    {
        await Task.CompletedTask;

        //if (_viewModel.Id == null)
        //{
        //    var myTodoItem = new TodoListItem()
        //    {
        //        Id = Guid.NewGuid().ToString(),
        //        DueDate = dueDate == null ? DateTime.Now.AddDays(1) : (dueDate.Value),
        //        Title = title,
        //        IsCompleted = false
        //    };
        //    todoList.Add(myTodoItem);
        //    _viewModel = new();
        //    Toaster.Add("New todo added.", MatToastType.Info, "Todo List", null);
        //}
        //else
        //{
        //    var myTodo = todoList.FirstOrDefault(x => x.Id == _viewModel.Id);
        //    myTodo.Title = title;
        //    myTodo.DueDate = dueDate == null ? DateTime.Now.AddDays(1) : (dueDate.Value);
        //    _viewModel = new();
        //    Toaster.Add("Todo edit finished.", MatToastType.Info, "Todo List", null);
        //}

    }

    void DeleteItem(string? id)
    {
        var myTodo = todoList.First(x => x.Id == id);
        todoList.Remove(myTodo);
        Toaster.Add("Todo removed.", MatToastType.Info, "Todo List", null);
    }

    void CompleteItem(string? id)
    {
        var myTodo = todoList.First(x => x.Id == id);
        myTodo.IsCompleted = !myTodo.IsCompleted;
        Toaster.Add("Todo status changed.", MatToastType.Info, "Todo List", null);
    }

    void EditItem(string? id)
    {
        var myTodo = todoList.FirstOrDefault(x => x.Id == id);
    }
}